@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) { 
    /* CONFIGURAÇÃO PARA TABLET*/
    body {
        background-image: linear-gradient(to top, #A6654E,  #734743);
    }
    
    
    section#login {
        width: 85vw;
        height: 250px;

    }

    section#login > div#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login > div#formulario {
        float: right;
        width: 70%;
    }

    div#formulario > h1 {
        font-size: 1.8em;
        text-align: center;
    }

    div#formulario > p {
        font-size: 1.1em;
        margin: 5px 0px;
    }

    form > input[type=submit] {
        font-size: 1em;
    }
        

}

@media screen and (min-width: 992px) {
    /* CONFIGURAÇÃO PARA DESKTOP E PARA OUTRAS TELAS MAIORES*/
   body {
        background-image: linear-gradient(to top, #A6654E,  #734743);
    }
   
    section#login {
        width: 940px;
        height: 400px;
    }

    section#login > div#imagem {
        float: left;
        width: 40%;
        height: 100%;
    }

    section#login > div#formulario {
        float: right;
        width: 60%;
    }

    div#formulario > h1 {
        font-size: 1.8em;
        text-align: center;
    }

    div#formulario > p {
        font-size: 1.1em;
        margin: 10px 0px;
    }

    form > input[type=submit] {
        font-size: 1em;
    }

}