@charset "UTF-8";

/*
    Paleta de Cores
    
    1ª Cor: #011826
    2ª Cor: #F2D64B
    3ª Cor: #F2C185
    4ª Cor: #A6654E
    5ª Cor: #734743
*/

* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #16120F;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: #e7e5e5;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.568);

    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: #16120F url(../Img/pexels-pixabay-276514.jpg);
    height: 200px;
    background-size: cover;
}

section#login > div#formulario {
    display: block;
    padding: 10px;

}

div#formulario > h1 {
    text-align: center;
    padding-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}