@charset "UTF-8";

/*
    Paleta de Cores
    
    1ª Cor: #011826
    2ª Cor: #F2D64B
    3ª Cor: #F2C185
    4ª Cor: #A6654E
    5ª Cor: #734743
*/

* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #16120F;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    background-color: #e7e5e5;
    width: 250px;
    height: 440px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.568);
    
    transform: translate(-50%, -50%);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: #16120F url(../Img/pexels-pixabay-276514.jpg);
    background-size: cover;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;

}

div#formulario > h1 {
    text-align: center;
    padding-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

form > div.campo {
    display: block;
    height: 30px;
    border: 2px solid #895441 ;
    border-radius: 4px;
    background-color: #895441;
    margin: 5px 0px;
}

div.campo > label {
    display: none;
}

div.campo > span {
    color: white;
    font-size: 1em;
    width: 40px;
    padding: 5px;

}

div.campo > input{
    background-color: #1D1311;
    color: white;
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    border: 0px;
    border-radius: 4px;
    padding: 4px;
    transform: translateY(-1px);
}

div.campo > input:focus-within {
    color: white;
}

form > input[type=submit] {
    display: block;
    font-size: 0.8em;
    width: 100%;
    height: 35%;
    margin-top: 4px;
    background-color: #D4A975;
    color: white;
    border: none;
    border-radius: 4px;
}

form > input[typer=submit]:hover {
    background-color: #7c6950;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 0.8m;
    width: 100%;
    height: 35%;
    padding-top: 4px;
    margin-top: 4px;
    background-color: #7C6344;
    color: #D5BC42;
    border-radius: 4px;
    border: 1 solid #7C6344;
    text-decoration: none;

}

form > a.botao:hover {
    background-color: #9e815d;
}

form > a.botao > i {
    font-size: 1.3em;
}